/* body {
  background-color: rgb(180, 182, 184);
} */
li {
  list-style: none;
}
main {
  max-width: 60%; /* A4 paper width */
  background-color: rgb(180, 182, 184);
}
.invoice-nav{
  background-color: #7038d6;
}
#card-invoice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-left: 171px;
  margin-right: 171px;
  background-color: white;
}